@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
    background-color: theme('colors.background');
    color: theme('colors.textMain');
}

h1,
h2,
h3 {
    color: theme('colors.primary');
}

a {
    color: theme('colors.secondary');
    transition: color 0.3s;
}

a:hover {
    color: theme('colors.primary');
}